* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.searchContainer {
   height: 28.5vh;
   width: 12rem;
   margin: 0.5rem;
   text-align: center;
   background-color: #fff;
   padding: 11rem 0rem 0rem;
   border-radius: 2rem;
   border: 0.01rem solid black; 
   box-shadow: 0.1rem 0 0.3rem rgba(0, 0, 0, 0.1);
   background-image: url('/src/images/Pikachu.jpg');
   background-repeat: no-repeat;
   background-position: top;
   background-size: cover;
}

.searchText {
    border: none;
    padding: 0.3rem;
    text-align: center;
    border-radius: 0.5rem;
}